.instagram-modern .IGERS-box {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid #CCC;
    position: relative;
    -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
transition: all .5s;
    
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.1);
}



.instagram-modern .IGERS-box:hover {    
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22),0 5px 6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22),0 5px 6px rgba(0, 0, 0, 0.47);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.22),0 5px 6px rgba(0, 0, 0, 0.47);
}


.instagram-modern a,
.instagram-modern img {
 display: block;   
}
    
.instagram-modern img {
    padding: 5px 5px 0px;
}

.instagram-modern .IGERS-info { text-align: center; }
.instagram-modern .IGERS-info div { 
    display:inline-block;
    padding-bottom: 5px;
}

.instagram-modern .IGERS-info span {
    padding-left: 16px;
    background: url('images/IGERS-sprite.png') -81px 0px no-repeat;
}

.instagram-modern .IGERS-info .likes span {
    padding-right: 5px;
    background-position: -81px -100px;
}